.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.card__image {
    border-radius: 10px;
    max-width: 320px;
}

.card__content {
    align-self: start;
}

.card__name {
    font-weight: 500;
}
